html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
	background-color: white;
	color: white;
	margin: 0;
	padding: 0;
	font-family: Arial;
	background-size: 128px 128px;
}

body.background{
	background-image: url(Background_Image.jpg);
}

#title {
	background-color: white;
	color: black;
	font-size: 500%;
	text-align: center;
	margin: auto;
	margin-top: 50px;

	width: 500px;
	height: 160px;

	padding-bottom: 70px;
	border: 5px solid black;
	position: static;
}

#Logo {
	position: relative;
	width: 480px;
	height: 270px;
	margin-left: 0px;
	/*bottom: 70px;*/
	left: 20px;
	top: 0px;
}









.SandwichMenu {
	width: 40px;
	height: 3px;
	background-color: black;
	margin-left: 0px;
	color: black;
	/*position: absolute;*/
	left: 240px;
    padding-right: auto;
    padding-left: auto;
    width: 47px;

    -webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .2s ease-in-out;
	cursor: pointer;
}

button {
	outline: none;
}

a {
	color: inherit;
    text-decoration: none;
}

#MenuButton {
	left: 210px;
	bottom: 320px;

	width: 60px;
	height: 45px;

	position: relative;

	background-color: white;

	border: 0 solid white;

	margin: 50px auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}




button#MenuButton:hover div{
	background-color: orange;
}





#TopSandwich {
	position: absolute;
	top: 5px;
	left: 5px;
	bottom: 0px
}

#MidSandwich {
	position: absolute;
	top: 18px;
	left: 5px;
	bottom: 0px
}

#BotSandwich {
	position: absolute;
	top: 31px;
	left: 5px;
	bottom: 0px
}



#TopSandwich.played {
	position: absolute;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	top: 18px;
}

#MidSandwich.played {
	position: absolute;
	opacity: 0;
	left: 50px;
}

#BotSandwich.played {
	position: absolute;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	top: 18px;
}



#Navigation {
	background-color: white;
	color: black;
	font-size: 100%;
	text-align: left;

	margin: auto;

	top: -240px;
    left: 370px;

	width: 200px;
	height: 160px;

	padding-bottom: 70px;
	border: 5px solid black;
	position: relative;

	opacity: 0;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

div#Navigation li {
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
}

.active {
	background-color: lightgrey;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}



#ip {
	color: black;
	font-family: Arial;
	border: 2px solid black;
	
	border-top: 0px;
	background-color: white;
	position: fixed;
	top: 0px;
	right: 100px;
	padding: 2px;
}

.headBar {
	background-color: white;
	opacity: .8;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	padding: 10px 0;
}

.headBar h1 {
	color: black;
	font-family: Arial;
	text-align: center;
	font-size: 500%;
	opacity: 1;
}






.classBubble {
	border-radius: 200px;
	height: 200px;
	width: 200px;
	border: 5px solid black;
	background-color: white;
	right: -20px;
	position: absolute;
	margin-top: 20px;
	margin-bottom: 20px;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}


#Archer{
	
    top: 36px;
    width: 140px;
    height: 120px;
    width: 120px;
    left: 40px;

	position: relative;
	margin: auto;
}

.classBubbleDescription {
	background-color: grey;
	position: absolute;
	right: 0px;
	width: 340px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 90px;
	font-family: Arial;
	border: 2px, solid, black;
}

.chevron {
	width: 15px;
	height: 15px;
	position: relative;
	top: 0px;
	left: 10px;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.classHr {
	width: 0;
	height: 38px;
	position: absolute;
	border-color: white;
    right: 300px;
    bottom: 0px;
    top: 1px;
    margin-right: 0px;
}

#archerButton {
	height: 0;
	width: 0;
	position: absolute;
	border-width: 0;
	background-color: grey;
}









.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  transform-origin-x: 100%;
}

.parallaxLayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}

.parallaxLayerBase {
  transform: translateZ(0);
}

.parallaxLayerBack {
  transform: translateZ(-1px);
}

.parallaxLayerDeepBack {
  transform: translateZ(-2px);
}

.parallaxLayerDeepDeepBack {
  transform: translateZ(-3px);
}









































/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}